*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

/* HERO */
.hero{
  height:100vh;
  background-image: url("images/college.jpg");
  background-size: cover;
  background-position: center;
}

.hero::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
}

.hero-content{
  position:relative;
  height:100%;
  color:#EAE0CF;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero-content h1{
  font-size:48px;
  margin-bottom:10px;
}

.hero-content p{
  font-size:18px;
  margin-bottom:20px;
}

.hero-btn{
  background:#213448;
  color:#EAE0CF;
  padding:12px 25px;
  text-decoration:none;
  border-radius:6px;
  font-weight:bold;
}

/* DEPARTMENTS */
.departments{
  padding:60px 20px;
  text-align:center;
  background:#547792;
}

.departments h2{
  font-size:32px;
  margin-bottom:40px;
}

.dept-box{
  display:flex;
  gap:25px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  background:#EAE0CF;
  width:230px;
  padding:25px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.card h3{
  margin-bottom:15px;
  font-size:22px;
}

.card a{
  text-decoration:none;
  background:#222;
  color:#EAE0CF;
  padding:8px 16px;
  border-radius:5px;
  display:inline-block;
}

/* HOW */
.how{
  padding:40px;
  text-align:center;
}

.how h2{
  margin-bottom:10px;
}

/* FOOTER */
footer{
  background:#213448;
  color:#EAE0CF;
  text-align:center;
  padding:15px;
}
